:root {
  --primary-color: rgba(255, 255, 255, 1);
  --secondary-color: rgba(226, 255, 20, 1);

  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;

  --common-transition: ease 0.3s;
}

html {
  font-family: var(--primary-font);
  color: var(--primary-color);
  scroll-behavior: smooth;
  &[no-scroll] {
    overflow: hidden;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: -0.28px;
    display: inline-block;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: calc(100% - 90px);
  @media all and (min-width: 1920px) {
    max-width: calc(1920px - 90px);
  }
  @media all and (max-width: 960px) {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.section-title {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 60px;
  margin: 0;
  line-height: 1.134;
  font-weight: 700;

  @media all and (max-width: 1360px) {
    font-size: 28px;
  }
}

.title-smaller {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.333;
  @media all and (max-width: 1360px) {
    font-size: 24px;
  }
}

p {
  margin: 0 0 15px;
}

.section-text {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  @media all and (max-width: 1360px) {
    font-size: 16px;
  }
}

.note-text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.666;
  font-weight: 500;
}

[card-effect] {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  @media all and (max-width: 1279px) {
    padding: 35px;
  }

  @media all and (max-width: 640px) {
    padding: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  input:not([type='checkbox'], [type='radio']),
  textarea,
  select {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    color: #000;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.05);
    transition: ease 0.3s;
    line-height: 1.5;
    &::placeholder {
      transition: ease 0.4s;
    }

    &:focus {
      border-color: #00adee;
      background: transparent;
      &::placeholder {
        opacity: 0;
      }
    }

    &.select-field {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29279 7.29259C5.48031 7.10512 5.73462 6.99981 5.99979 6.99981C6.26495 6.99981 6.51926 7.10512 6.70679 7.29259L9.99979 10.5856L13.2928 7.29259C13.385 7.19708 13.4954 7.1209 13.6174 7.06849C13.7394 7.01608 13.8706 6.9885 14.0034 6.98734C14.1362 6.98619 14.2678 7.01149 14.3907 7.06177C14.5136 7.11205 14.6253 7.18631 14.7192 7.2802C14.8131 7.37409 14.8873 7.48574 14.9376 7.60864C14.9879 7.73154 15.0132 7.86321 15.012 7.99599C15.0109 8.12877 14.9833 8.25999 14.9309 8.382C14.8785 8.504 14.8023 8.61435 14.7068 8.70659L10.7068 12.7066C10.5193 12.8941 10.265 12.9994 9.99979 12.9994C9.73462 12.9994 9.48031 12.8941 9.29279 12.7066L5.29279 8.70659C5.10532 8.51907 5 8.26476 5 7.99959C5 7.73443 5.10532 7.48012 5.29279 7.29259Z' fill='%2300adee'/%3E%3C/svg%3E");
      background-position: right 5px center;
      background-repeat: no-repeat;

      -webkit-appearance: none;
      &:required:invalid {
        color: #757575;
      }
    }
  }

  button {
    margin-top: 5px;
    padding: 18px 20px;
    border: 0;
    background: #00adee;
    border-radius: 8px;
    font-weight: 600;
    width: 100%;
    color: var(--primary-color);
    line-height: 1.5;
    cursor: pointer;
  }
}
