.popup-modal {
  --pointer-events: none;
  --backdrop-bg: rgba(0, 0, 0, 0.8);
  --animation-transition: ease 0.4s;
  --content-bg: rgb(255, 255, 255);

  --opacity: 0;
  --visibility: hidden;
  --transform-scale: 0.9;

  position: fixed;
  inset: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  pointer-events: var(--pointer-events);
  z-index: 1000;

  &.open {
    --visibility: visible;
    --opacity: 1;
    --pointer-events: all;
    --transform-scale: 1;
  }

  .backdrop {
    position: fixed;
    inset: 0;
    background: var(--backdrop-bg);
    transition: var(--animation-transition);
    visibility: var(--visibility);
    opacity: var(--opacity);
    /* backdrop-filter: blur(35px); */
  }

  .inner {
    max-height: 100%;
    max-width: 480px;
    width: 100%;
  }

  .body {
    background: var(--content-bg);
    position: relative;
    padding: 30px;
    transition: var(--animation-transition);
    opacity: var(--opacity);
    transform: scale(var(--transform-scale));
    animation-delay: 0.2s;
    border-radius: 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media all and (max-width: 640px) {
      padding: 20px;
    }
  }

  .title {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    gap: 20px;
    img {
      max-width: 167px;
    }
    @media all and (max-width: 640px) {
      font-size: 20px;
    }
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
    background: url('../img/close.svg') 50% 50% / auto no-repeat;
  }
}
